/Users/claudiosobral/Desktop_Local/ONE_Oracle-Alura_Course/02-Curso_Iniciante_em_Programacao_T7-ONE/01 - A Partir do Zero - Iniciante em Programacao/03 - Curso_Git e GitHub - Compartilhando_e_Colaborando_em_Projetos/3386-git-github-projeto_inicial/temp
/Users/claudiosobral/Desktop_Local/ONE_Oracle-Alura_Course/02-Curso_Iniciante_em_Programacao_T7-ONE/01 - A Partir do Zero - Iniciante em Programacao/03 - Curso_Git e GitHub - Compartilhando_e_Colaborando_em_Projetos/3386-git-github-projeto_inicial/temp/fileText.fileText